<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="about-us-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to RareBeuty</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          We are a top-tier firm in our industry, dedicated to delivering outstanding products and services to our esteemed clients. Our team of experts is committed to excellence, innovation, and ensuring customer satisfaction.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Our Mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Our mission is to provide top-notch solutions that adapt to the changing needs of our clients. We aim to lead in innovation, delivering offerings that are both state-of-the-art and dependable.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Our Values</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Empowerment: We empower our customers by enhancing their natural beauty and boosting their confidence through our products and services.</li>
          <li>Inclusivity: We celebrate diversity and ensure our products cater to all skin types and tones, embracing beauty in every form.</li>
          <li>Sustainability: We are committed to environmentally-friendly practices, offering products that are both effective and responsibly sourced.</li>
          <li>Customer Care: We prioritize exceptional customer service, striving to create personalized experiences and ensuring satisfaction with every interaction.</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact Us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          For any inquirie please feel free  to <ion-router-link routerLink="/contact-us">contact us</ion-router-link>.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
